# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Ruff / Black / mypy
.ruff_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Alembic
alembic/versions/__pycache__/

# Docker
docker-data/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Kubernetes
kubeconfig